/* 黒板 */
.blackboard{
  position:absolute;
  width:500px;
  height:80px;
  background:#0b3d0b;
  border:5px solid #333;
}

/* 教壇 */
.platform{
  position:absolute;
  width:200px;
  height:20px;
  background:#5a3a22;
}

/* 教卓 */
.teacherDesk{
  position:absolute;
  width:140px;
  height:60px;
  background:#4b2e1e;
  border:2px solid #2a1a12;
}
