body{
  margin:0;
  background:#111;
  overflow:hidden;
  font-family:Arial, sans-serif;
}

/* ゲーム画面 */
#gameArea{
  position:relative;
  width:600px;
  height:600px;
  margin:20px auto;
  background:#222;
}

/* タイル */
.wall{
  background:#444;
}

.desk{
  background:#8b5a2b;
}

.teacherDesk{
  background:#5a381e;
}

.blackboard{
  background:darkgreen;
}

.door{
  background:brown;
}

#player{
  background:white;
}

#messageBox{
  position:fixed;
  bottom:0;
  left:0;
  width:100%;
  height:90px;
  background:black;
  color:white;
  display:flex;
  align-items:center;
  padding-left:20px;
  font-size:20px;
  z-index:9999;
}
